.switch {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.switch-button {
    /* background and border when in "off" state */
    background: map-get($colors, 'coral' );
    display: grid; 
    grid-template-columns: 1fr 1fr;
    border-radius: 5rem;
    position: relative;
    cursor: pointer;
    outline: 0;
    border: 0;
    user-select: none;
}

.switch-input:not(:checked) + .switch-button .switch-button-left {
    /* text color when in "off" state */
    color: black;
}

.switch-input {
    display: none;
}

.switch-button span {
   @include text(1rem, 'med', 1.2rem);
    padding: 0.375rem 1rem;
    text-align: center;
    z-index: 2;
    color: #FFFFFF;
    transition: color .2s;
}

.switch-button::before {
    content: '';
    position: absolute;
    background-color: map-get($colors, 'grey' );
    border-radius: 5rem 0 0 5rem;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    z-index: 1;
    transition: left .3s cubic-bezier(0.175, 0.885, 0.320, 1), 
                padding .2s ease, margin .2s ease;
}

.switch-button:hover::before {
    will-change: padding;
}

.switch-button:active::before {
    padding-right: .4rem;
}


/* "On" state
   ========================== */

.switch-input:checked + .switch-button {
    /* background and border when in "off" state */
    background-color: map-get($colors, 'coral' );
    border-color: var(--links);
}

.switch-input:checked + .switch-button .switch-button-right {
    /* text color when in "off" state */
    color: black;
}

.switch-input:checked + .switch-button::before {
    left: 50%;
    transform: rotate(180deg);
}

.switch-input:checked + .switch-button:active::before {
    margin-left: -.4rem;
}

/* Checkbox in disabled state
   ========================== */

.switch-input[type="checkbox"]:disabled + .switch-button {
    opacity: 0.6;
    cursor: not-allowed;
}
